<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<% flash.each do |name, msg| %>
<ul>
	<li><%= msg %></li>
</ul>
<% end %>
=======
<%= render 'layouts/messages' %>
>>>>>>> bd2383f5241cc430a4ba98b1216bd0e26f046b5c
<%= yield %>

</body>
</html>
